@media (max-width:1600px) {
    .contents{
        grid-template-columns: repeat(3,1fr);
    }
    .right-playing-video-info .video-download-btn{
        display: none;
    }
    .following-page .following-channel-contents {

        grid-template-columns: repeat(3,1fr);

      }
}